body {
    font-family:"ヒラギノ角ゴ Pro W3",メイリオ,Osaka,Arial,Verdana,"ＭＳ Ｐゴシック",sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-image: url(../img/background_manual.jpg);
}

li {
    list-style: none;
}

.title-area {
    height: 180px;
    background-size: cover;
    background-image: url(../img/background.jpg)
}

.title-area h1 {
    height: 80%;
    font-size: 95px;
    padding: 0px 1%;
    margin: 0px;
    color: yellow;
    text-shadow: 2px 2px 0 #000,
                -2px 2px 0 #000,
                2px -2px 0 #000,
                -2px -2px 0 #000;
}

.title-area p {
    height: 20%;
    padding: 0px 1%;
    margin: 0px;
    color: white;
}

.title-area a {
    color: white;
    text-decoration: none;
}

header {
    background-color: black;
    color: #fff;
    height: 45px;
}

.header-list {
    height: 100%;
    width: 100%;
}

.header-list ul {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.header-list li {
    height: 100%;
    float: left;
    color: #fff;
    font-size: 30px;
    padding: 0px;
}

.header-list a {
    border: 1px solid white;
    background-image: url(../img/button.jpg);
    background-size: cover;
    padding: 0 3px;
    margin: 0;
    text-align: center;
    color: white;
    text-decoration:none;
}

.main {
    padding: 10px 20px;
    background: rgba(255,255,255,0.6);
}
  
.copy-container h1 {
    font-size: 50px;
}
  
.copy-container h2 {
    font-size: 25px;
}
  
.copy-container span {
    color: #ff4a4a;
}
  
.contents {
    height: 950px;
    width: 750px;
    margin-top: 50px;
}

.section-title {
    border-bottom: 2px solid #dee7ec;
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.contents-screenshot {
    height: 25%;
    width: 100%;
}

.contents-item {
    float: left;
    margin-right: 0px;
}
  
.contents-item p {
    font-size: 20px;
}

.contents-info {
    float: none;
}

footer {
    background-color: black;
    color: #fff;
    height: 130px;
    padding: 0px 10px;
}

.footer-logo {
    float: left;
    font-size: 60px;
    padding: 0px 10px;
}
  
.footer-list {
    float: right;
    padding: 0px;
}

.footer-list li {
    font-size: 15px;
    padding: 0px;
}
.footer-list a {
    color: #fff;
}


@media (max-width: 750px){
    body {
        font-family:"ヒラギノ角ゴ Pro W3",メイリオ,Osaka,Arial,Verdana,"ＭＳ Ｐゴシック",sans-serif;
        margin: 0;
        padding: 0;
        background-color: gray;
        background-image: none;
    }    

    li {
        list-style: none;
    }
    
    .title-area {
        height: 20vw;
        background-color: navy;
        background-size: cover;
    }
    
    .title-area h1 {
        height: 80%;
        font-size: 11vw;
        padding: 0px 1vw;
        margin: 0px;
    }
    
    .title-area p {
        height: 20%;
        font-size: 2vw;
        padding: 1vw 1vw;
        margin: 0px;
        color: white;
    }

    .title-area a {
        pointer-events: none;
    }
    
    header {
        background-color: black;
        color: #fff;
        height: 30px;
    }
    
    .header-list {
        height: 100%;
        width: 100%;
    }
    
    .header-list ul {
        height: 100%;
        padding: 0px;
        margin: 0px;
    }
    
    .header-list li {
        height: 100%;
        float: left;
        color: #fff;
        font-size: 20px;
        padding: 0px;
    }
    
    .header-list a {
        border: 1px solid white;
        background-size: cover;
        padding: 0 3px;
        margin: 0;
        text-align: center;
        color: white;
        text-decoration:none;
    }
    
    .main {
        max-width: 100%;
        margin: 0 auto;
        padding: 10px 20px;
        background: rgba(255,255,255,0.3);
    }
    
    .copy-container h1 {
        font-size: 25px
    }
      
    .copy-container h2 {
        font-size: 15px
    }
      
    .copy-container span {
        color: #ff4a4a;
    }
      
    .contents {
        height: auto;
        width: 85vw;
        font-size: 12px
    }
    
    .section-title {
        border-bottom: 2px solid #dee7ec;
        font-size: 20px;
        padding-bottom: 15px;
        margin-bottom: 10px;
    }
    
    .contents-screenshot {
        height: auto;
        width: 100%;
    }
    
    .contents-item {
        float: none;
        width: 100%;
        padding: 0 5%;
        margin-right: 0px;
    }
      
    .contents-item p {
        font-size: 20px;
    }

    .contents-info {
        float: none;
    }
    
    footer {
        background-color: black;
        color: #fff;
        height: 35vw;
    }
    
    .footer-logo {
        font-size: 10vw;
        padding: 0 1vw;
    }
      
    .footer-list {
        height: 100%;
        padding: 0;
    }

    .footer-list li {
        font-size: 3vw;
        padding: 1vw 0;
    }
    .footer-list a {
        color: #fff;
    }
}

@media (max-width: 550px){
    header {
        background-color: black;
        color: #fff;
        height: 100%;
    }
    
    .header-list {
        height: 100%;
        width: 100%;
    }
    
    .header-list ul {
        height: 95%;
        padding: 0px;
        margin: 0px;
    }
    
    .header-list li {
        height: 100%;
        float: none;
        color: #fff;
        font-size: 20px;
        padding: 0;
    }
    
    .header-list li+ li {
        height: 100%;
        float: none;
        color: #fff;
        font-size: 20px;
        padding: 0;
    }

    .header-list a {
        display: block;
        border: 1px solid white;
        background-size: cover;
        padding: 0;
        margin: 0;
        text-align: center;
        color: white;
        text-decoration:none;
    }

    .contents img {
        width: 80%;
    }

    footer {
        display: none;
    }
}